@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.recipe-img{
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.recipe-container{
  background-color: #f9f9f9; /* Fundal ușor gri */
  border: solid var(--gray-a2);
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10em;
}

.recipe-details{
  padding: 0.7rem;
  border-radius: 8px;
}

.orange{
  color: #EC9131;
}

.green {
  color: #79C141;
}

.section-title {
  color: #EC9131;
  font-weight: bold;
  border-bottom: 2px solid #EC9131;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  margin-left: 0.5em;
}


.link{
  font-size: 1.4em;
  color: var(--gray-11);
}
.link:hover{
  color: var(--gray-12);
  text-decoration: underline;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
