

.upload_button{
  max-width: var(--container-4);
  width: 60vw;
  text-align: left;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
  border-radius: var(--nextui-radius-large);
  border: 1px solid #dfdcdc;
  color:  var(--slate-11);
}
.upload_button:hover {
  border-color: gray;
}